<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CBR_ADMIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CBR_ADMIN.Properties.Settings.CBR_IngenieriaConnectionString" connectionString="Data Source=177.231.253.170;Initial Catalog=CBR_Ingenieria;Persist Security Info=True;User ID=usuario;Password=admin" providerName="System.Data.SqlClient" />
        <add name="CBR_ADMIN.Properties.Settings.masterConnectionString" connectionString="Data Source=177.231.253.170;Initial Catalog=master;Persist Security Info=True;User ID=usuario;Password=admin" providerName="System.Data.SqlClient" />
        <add name="CBR_ADMIN.Properties.Settings.modelConnectionString" connectionString="Data Source=177.231.253.170;Initial Catalog=model;Persist Security Info=True;User ID=usuario;Password=admin" providerName="System.Data.SqlClient" />
        <add name="CBR_ADMIN.Properties.Settings.tempdbConnectionString" connectionString="Data Source=177.231.253.170;Initial Catalog=tempdb;Persist Security Info=True;User ID=usuario;Password=admin" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CBR_ADMIN.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
        </CBR_ADMIN.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>